<!-- <div class="content-wrapper">
  <span>Enter your text</span>
  <textarea ccMarkDown [value]="defaultText" (valueChange)="onValueChange($event)">

  </textarea>
  <span>HTML Output</span>
  <textarea name="" id="" cols="30" rows="10" value="{{ markDownText }}">

  </textarea>

  <div [innerHTML]="markDownText">

  </div>

</div> -->

<div>
  <nav>
    <button class="btn" (click)="toolbarHandler('bold')"> B</button>
    <button class="btn" (click)="toolbarHandler('italic')"> I </button>
    <button class="btn" (click)="toolbarHandler('link')"> Link </button>
  </nav>
</div>
<br>

<textarea cols="50" rows="10" #editor [(ngModel)]="inputValue"></textarea>

<br>
<section> Preview:
  <div class="toolbar" [ccMarkDown]=inputValue> {{inputValue}} </div>
</section>