  .content-wrapper {
    display: flex;
  }

  :host {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .btn {
    margin: 10px;
  }

  textarea {
    margin: auto;
  }

  .toolbar {
    width: 400px;
    height: 300px;
    margin: auto;
  }